<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonds</title>
</head>

<body>
    <h1>New Album</h1>
    <form action="/" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="album[name]">
        </div>
        <div>
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="album[artist]">
        </div>
        <button>Add Album</button>
    </form>
    <a href="/">Back</a>
</body>

</html>